target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/misc.xml
.idea/vcs.xml
.idea/shelf/
.idea/workspace.xml
.idea# 基于编辑器的 HTTP 客户端请求
.idea/httpRequests/
.idea# Datasource local storage ignored files
.idea/dataSources/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### logs ###
*.log
*.out
*.err
*.txt
logs/
!**/src/main/**/logs/
!**/src/test/**/logs/

